[Desktop Entry]
Name=OpenWebUI
Comment=Aplicación de escritorio OpenWebUI
Exec=npm start --prefix /home/jsuarez/Documents/OpenWebUI_App_escritorio
Icon=/home/jsuarez/Documents/OpenWebUI_App_escritorio/assets/icon.png
Terminal=false
Type=Application
Categories=Utility;